################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MauiAppTester/.vs/MauiAppTester
/MauiAppTester/obj
